# Website A/B Testing - Lab

## Introduction

In this lab, you'll get another chance to practice your skills at conducting a full A/B test analysis. It will also be a chance to practice your data exploration and processing skills! The scenario you'll be investigating is data collected from the homepage of a music app page for audacity.

## Objectives

You will be able to:
* Analyze the data from a website A/B test to draw relevant conclusions
* Explore and analyze web action data

## Exploratory Analysis

Start by loading in the dataset stored in the file 'homepage_actions.csv'. Then conduct an exploratory analysis to get familiar with the data.

> Hints:
    * Start investigating the id column:
        * How many viewers also clicked?
        * Are there any anomalies with the data; did anyone click who didn't view?
        * Is there any overlap between the control and experiment groups? 
            * If so, how do you plan to account for this in your experimental design?

In [28]:
#Your code here
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.stats.power import GofChisquarePower, FTestAnovaPower,_GofChisquareIndPower
import scipy.stats as stats
import pandas as pd
import numpy as np

df = pd.read_csv('homepage_actions.csv')

In [29]:
df.head()

                    timestamp      id       group action
0  2016-09-24 17:42:27.839496  804196  experiment   view
1  2016-09-24 19:19:03.542569  434745  experiment   view
2  2016-09-24 19:36:00.944135  507599  experiment   view
3  2016-09-24 19:59:02.646620  671993     control   view
4  2016-09-24 20:26:14.466886  536734  experiment   view

In [30]:
df.loc[df['id'] == 363314]

                       timestamp      id    group action
3751  2016-11-17 15:51:56.634476  363314  control   view
3752  2016-11-17 15:52:30.776850  363314  control  click

In [31]:
df['action'].value_counts()

view     6328
click    1860
Name: action, dtype: int64

In [32]:
df.groupby(['group', 'action']).count()

                   timestamp    id
group      action
control    click         932   932
           view         3332  3332
experiment click         928   928
           view         2996  2996

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8188 entries, 0 to 8187
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  8188 non-null   object
 1   id         8188 non-null   int64
 2   group      8188 non-null   object
 3   action     8188 non-null   object
dtypes: int64(1), object(3)
memory usage: 256.0+ KB

## Conduct a Statistical Test

Conduct a statistical test to determine whether the experimental homepage was more effective than that of the control group.

In [34]:
"""
H0: The new app format is equally effective or less effective than the current app format
H1: The new app format is more effective than the current app format
"""

'\nH0: The new app format is equally effective or less effective than the current app format\nH1: The new app format is more effective than the current app format\n'

In [35]:
"""
alpha = 0.05
"""

'\nalpha = 0.05\n'

In [36]:
#Your code here
con_click = 932
con_view = 3332 - 932
exp_click = 928
exp_view = 2996 - 928

In [ ]:
np.array([[con_click, con_no_click], 
                            [exp_click, exp_no_click]])

In [47]:
expected = [con_click, con_no_click]
observed = [exp_click, exp_no_click]

In [48]:
stats.chisquare(f_obs=observed, f_exp=expected)

Power_divergenceResult(statistic=45.943834048640916, pvalue=1.2169234221091101e-11)

## Verifying Results

One sensible formulation of the data to answer the hypothesis test above would be to create a binary variable representing each individual in the experiment and control group. This binary variable would represent whether or not that individual clicked on the homepage; 1 for they did and 0 if they did not. 

The variance for the number of successes in a sample of a binomial variable with n observations is given by:

## $n\bullet p (1-p)$

Given this, perform 3 steps to verify the results of your statistical test:
1. Calculate the expected number of clicks for the experiment group, if it had the same click-through rate as that of the control group. 
2. Calculate the number of standard deviations that the actual number of clicks was from this estimate. 
3. Finally, calculate a p-value using the normal distribution based on this z-score.

### Step 1:
Calculate the expected number of clicks for the experiment group, if it had the same click-through rate as that of the control group.

In [46]:
#Your code here
expected_clicks = con_click / (con_click + con_view) * (exp_click + exp_view)
expected_clicks

838.0168067226891

### Step 2:
Calculate the number of standard deviations that the actual number of clicks was from this estimate.

In [ ]:
#Your code here

### Step 3: 
Finally, calculate a p-value using the normal distribution based on this z-score.

In [ ]:
#Your code here

### Analysis:

Does this result roughly match that of the previous statistical test?

> Comment: **Your analysis here**

## Summary

In this lab, you continued to get more practice designing and conducting AB tests. This required additional work preprocessing and formulating the initial problem in a suitable manner. Additionally, you also saw how to verify results, strengthening your knowledge of binomial variables, and reviewing initial statistical concepts of the central limit theorem, standard deviation, z-scores, and their accompanying p-values.